{% load static %}

{% for task in column.tasks %}
    <div class="card flex-row {{task.status}}-card">
        {% if task.status != "to_do" %}
            <a href="{% url 'change_status' task.id 'prev' %}" class="prev-button flex-center flex-row" title="Change status">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        {% endif %}

        <div class="card-content">
            <div class="superior-card flex-row">
                <p class="title">{{task.title}}</p>
                <div class="action-buttons flex-row">
                    <a href="{% url 'edit' task.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'delete' task.id %}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
            </div>
            <hr class="{{task.status}}-hr">
            <p class="detail">{{task.detail}}</p>
        </div>

        {% if task.status != "done" %}
            <a href="{% url 'change_status' task.id 'next' %}" class="next-button flex-center flex-row" title="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>
{% endfor %}