{% load static %}


{% if task %}
    <h2 class="detailed-card-title">Modify</h2>
{% else %}
    <h2 class="detailed-card-title">Create</h2>
{% endif %}
<div class="card detailed-card flex-row {% if task %}{{task.status}}-card {% if task.focused %} {{task.status}}-focus {% endif %}{% else %} to_do-card {% endif %}">
    <div class="card-content flex-col">
        <form method="POST" action="{% if task %}{% url 'edit' task.id %}{% else %}{% url 'create' %}{% endif %}">
            {% csrf_token %}
            <div class="superior-card flex-col">
                <div class="actions-container flex-row">
                    <a href="{% url 'home' %}" title="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                    <button type="submit" title="{% if task %}Save{% else %}Create task{% endif %}">
                        {% if task %}
                            <i class="fa-solid fa-floppy-disk"></i>
                        {% else %}
                            <i class="fa-solid fa-plus"></i>
                        {% endif %}
                    </button>
                    <select name="status">
                        <option value="to_do" {% if task and task.status == 'to_do' %} selected {% elif not task %}selected{% endif %}>To do</option>
                        <option value="wip" {% if task and task.status == 'wip' %} selected {% endif %}>Wip</option>
                        <option value="on_hold" {% if task and task.status == 'on_hold' %} selected {% endif %}>On hold</option>
                        <option value="done" {% if task and task.status == 'done' %} selected {% endif %}>Done</option>
                    </select>
                </div>
                <textarea name="title" placeholder="Title" class="title auto-resize" maxlength="200" required>{{task.title}}</textarea>
            </div>
            <hr class="{% if task %}{{task.status}}-hr{% else %}to_do-hr{% endif %}">
            {% if task %}
                <p class="creation_date">
            {% endif %}
            <textarea name="detail" placeholder="Detail" class="detail auto-resize" maxlength="600">{{task.detail}}</textarea>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const textareas = document.querySelectorAll('.auto-resize');
    
        textareas.forEach(textarea => {
            autoResize(textarea);
    
            textarea.addEventListener('input', () => autoResize(textarea));
        });
    
        function autoResize(el) {
            el.style.height = 'auto';
            el.style.height = Math.min(el.scrollHeight, 300) + 'px';
        }
    });
</script>
    
