{% extends 'base.html' %}


{% block content %}
    {% include 'nav.html' %}
    
    <main>
        {% for column in columns %}
            <div class="column {% if column.status == 'done' %}
            done-column {% endif %}">
                <h2 class="{{column.status}}-background flex-center">{{column.name}}</h2>
                
                {% include 'create_task.html' %}
                
                {% include 'normal_card.html' %}
            </div>
            {% if not forloop.last %}
                <div class="column-divider {% if column.status == 'on_hold' %}
                on_hold-column-divider {% endif %}"></div>
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
