{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kanban web">
    <meta name="keywords" content="kanban, kanban board, tablero kanban, tareas, tasks">
    <title>Kanban board</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <div class="flex-center">
        <h1 class="flex-center">Kanban board</h1>
    </div>
    <main>
        {% for column in columns %}
            <div class="column">
                <h2 class="{{column.status}}-background flex-center">{{column.name}}</h2>
                {% for task in column.tasks %}
                    <div class="card flex-row {{task.status}}-card">
                        <div class="prev-button flex-center">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                        <div class="card-content">
                            <p class="title">{{task.title}}</p>
                            <hr class="{{task.status}}-border">
                            <p class="detail">{{task.detail}}</p>
                        </div>
                        <div class="next-button flex-center">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </main>
</body>
</html>