{% load static %}


{% for task in column.tasks %}
    <div class="card normal-card flex-row {{task.status}}-card {% if task.focused %} {{task.status}}-focus {% endif %}">
        {% if task.status != "to_do" %}
            <a href="{% url 'change_status' task.id 'prev' %}" class="prev-button flex-center flex-row {% if task.status == 'to_do' %} soft-to_do-background {% elif task.status == 'wip' %} soft-wip-background {% elif task.status == 'on_hold' %} soft-on_hold-background {% elif task.status == 'done' %} soft-done-background {% endif %}" title="Move status">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        {% endif %}

        <div class="card-content flex-col">
            <div class="superior-card flex-col">
                <div class="actions-container flex-row">
                    <a href="{% url 'toggle_focus' task.id %}" title="Highlight task">
                        <i class="fa-solid fa-sun"></i>
                    </a>
                    <a href="{% url 'view' task.id %}" title="Edit task">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'delete' task.id %}" title="Delete task">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
                <p class="title">{{task.title}}</p>
            </div>
            <hr class="{{task.status}}-hr">
            <p class="creation_date">Created: {{task.creation_date}}</p>
            <p class="detail">{{task.detail}}</p>
        </div>

        {% if task.status != "done" %}
            <a href="{% url 'change_status' task.id 'next' %}" class="next-button flex-center flex-row {% if task.status == 'to_do' %} soft-to_do-background {% elif task.status == 'wip' %} soft-wip-background {% elif task.status == 'on_hold' %} soft-on_hold-background {% elif task.status == 'done' %} soft-done-background {% endif %}" title="Move status">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>
{% endfor %}
