{% load static %}
{% load custom_filters %}


{% for task in column.tasks %}
    <div class="rounded-sm shadow-md m-1 min-h-16 flex flex-col gap-1 p-3 overflow-y-auto border-solid border-l-4 bg-white cursor-pointer {% if task.status == 'to_do' %}border-l-[#ff5630]{% elif task.status == 'wip' %}border-l-[#ffab00]{% elif task.status == 'on_hold' %}border-l-[#0052cc]{% elif task.status == 'done' %}border-l-[#36b376]{% else %}border-l-neutral-300{% endif %}" data-task-id="{{task.id}}" data-status="{{ task.status }}">
        <div class="flex justify-between">
            <div class="flex gap-2 justify-center items-center">
                <i class="fa-solid fa-pen-to-square cursor-pointer md:text-xl" data-task-id="{{ task.id }}" data-task-title="{{ task.title }}" data-task-detail="{{ task.detail|escapejs }}" data-task-priority="{{ task.priority }}" data-task-status="{{ task.status }}" onclick="fillTaskForm(this)"></i>
                <button onclick="openDeletePanel({{task.id}})" title="Delete task" class="flex items-center">
                    <i class="fa-solid fa-trash-can cursor-pointer md:text-xl"></i>
                </button>
            </div>
            <img src="{% static 'images/'|add:task.priority|add:'_priority.webp' %}" alt="{{task.priority|title}} priority" class="size-6">
        </div>
        <p class="text-sm">{{task.get_days_left}}</p>
        <p class="text-xl font-semibold w-full break-words overflow-y-auto">{{task.title}}</p>
        <hr class="border-solid border-1 {% if task.status == 'to_do' %}border-[#ff5630]{% elif task.status == 'wip' %}border-[#ffab00]{% elif task.status == 'on_hold' %}border-[#0052cc]{% elif task.status == 'done' %}border-[#36b376]{% else %}border-neutral-300{% endif %}">
        <p class="w-full max-h-24 md:max-h-40 overflow-y-auto text-gray-800 text-sm {% if task.detail|is_url_like %}break-all{% else %}break-words{% endif %}">{{task.detail}}</p>
    </div>
{% endfor %}
